h1 {
    color:#3876BF;
}

body {
    padding: 20px 20%;
}

.result {
    border: 2px solid black;
    padding: 20px 10px 0;
    margin: 2px;
    display: inline-block;
    text-align: center;
    width: 300px;
    border-radius: 20px;
}

.responses {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
