{% extends "base.html" %}

{% block title %} IMDb Movie Searcher {% endblock %}

{% block content %}
<form hx-get="/search" hx-target="#results" onsubmit="return false;">
    <label for="field">Filter by field:</label>
    <select id="field" name="field">
        <option value="all">All</option>
        <option value="Series_Title">Title</option>
        <option value="Genre">Genre</option>
        <option value="Overview">Overview</option>
    </select>            
    <input type="text" name="query" placeholder="Enter movie title..."/>
    <button type="submit">Search</button>
</form>
<div id="results"></div>
{% endblock %}
