{% extends "base.html" %}

{% block title %} IMDb Movie Searcher {% endblock %}

{% block content %}
<form action="/search" method="get">
    <label for="field">Filter by field:</label>
    <select id="field" name="field">
        <option value="all">All</option>
        <option value="Series_Title">Title</option>
        <option value="Genre">Genre</option>
        <option value="Overview">Overview</option>
        <option value="Director">Director</option>
    </select>            
    <input type="text" name="query" placeholder="Enter movie title..."/>
    <button class="btn btn-primary"  type="submit">Search</button>
</form>
{% for hit in response %}
    <div class='result'>
        <img src="{{ hit['_source']['Poster_Link'] }}" >
        <br>
        <a href="/movie/{{ hit['_id'] }}">
            {{ hit['_source']['Series_Title'] }}
        </a>
        <p>Rating: {{ hit['_source']['IMDB_Rating'] }} </p>
    </div>
{% endfor %}
{% endblock %}
