{% extends "base.html" %}

{% block title %}{{ movie.Series_Title }}{% endblock %}

{% block content %}
<h2>{{ movie.Series_Title }}</h2>
<img src="{{ movie.Poster_Link }}" alt="{{ movie.Series_Title }}" />
<p><strong>IMDb Rating:</strong> {{ movie.IMDB_Rating }}</p>
<p><strong>Director:</strong> {{ movie.Director }}</p>
<p><strong>Released Year:</strong> {{ movie.Released_Year }}</p>
<p><strong>Certificate:</strong> {{ movie.Certificate }}</p>
<p><strong>Runtime:</strong> {{ movie.Runtime }}</p>
<p><strong>Overview:</strong> {{ movie.Overview }}</p>
<p><strong>Genre:</strong> {{ movie.Genre }}</p>
<button hx-get="/similar/{{ movie_id }}" hx-target="#similar">Recommend Similar Movies</button>
<div id="similar"></div>
{% endblock %}

